body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    padding: 0; margin: 0;
}

.sidebar {
    grid-column: 1 / 2;
    height: 100%;
    display: flex; flex-direction: column; justify-content: space-around;
    background-color: #252525;
    padding: 10px;
}

.buttons {
    height: 50%;
    display: flex; flex-direction: column; justify-content: space-evenly; align-items: flex-start;
    
    button {
        background-color: #0000;
        border: none;
        color: #ffff;
        font-size: 20px;
    }
    button:hover {
        cursor: pointer;
        color: #6567ff;
    }
}

.title {
    display: flex; justify-content: center; align-items: center;
    
    h1 {
        color: #ffff;
    }
}

.projects {
    flex: auto;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center; gap: 10px;
    border-top: 1px solid #ffff;
}

.projects-top {
    width: 100%;
    display: flex; justify-content: space-between; align-items: center;
    
    #projects-header {
        color: #ffff;
        font-size: 20px;
    }
    
    button {
        background-color: #ffffff;
        font-size: 20px;
    }
    button:hover {
        cursor: pointer;
        font-size: 40px;
        color: #6567ff;
    }
}

.projects-content {
    height: 100%; width: 100%;

    #default-project {
        color: #ffff;
    }
    #default-project:hover {
        cursor: pointer;
    }
}

.content {
    grid-column: 2;
}

.tasks-container {
    display: flex; justify-content: flex-start; align-items: center; gap: 16px;
    margin: 20px;
}

#task-item {
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    border: 1px solid black;
    width: 20%;
    padding: 10px;

    #task-exit {
        align-self: flex-end;
        padding: 0; margin: 0;
    }
    #task-exit:hover {
        cursor: pointer;
    }

    #task-item-desc {
        max-height: 3em;
        overflow: hidden;
        cursor: pointer;
        text-overflow: ellipsis;
    }
    #task-item-desc.expanded {
        max-height: 100vh;
    }

    #task-item-priority {
        margin: 10px;
    }
}